.button {
  display: inline-block;
  width: 100%;
  padding: 16px 10px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;

  background-color: $bg-color-blue;
  border: 0;

  cursor: pointer;
  transition: all $timing-function;

  &:hover {
    background-color: $button-bg-color--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $button-bg-color--active;
  }

  &--disabled {
    background-color: $button-bg-color--disabled;
  }
}
