.main-header {
  position: relative;

  padding-bottom: 30px;

  @include two-triangles ($color-white, $color-white, $color-white, 17px, 0, 0)

  &--inner {
    padding-bottom: 24px;

    &::before {
      content: "";

      display: none;
    }

    &::after {
      content: "";

      display: none;
    }
  }

  @media ($bp-tablet) {
    padding-bottom: 68px;
  }

  @media ($bp-desktop) {
    padding-bottom: 71px;
  }
}

.main-header__image {

  position: relative;

  min-height:389px;
  padding-top: 90px;
  margin-bottom: 50px;

  background-color: #5d7e9d;
  @include background-image-webp("../img/bg-back-mobile@1x", "jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media ($retina-dpi), ($retina-dppx) {
    @include background-image-webp("../img/bg-back-mobile@2x", "jpg");
    background-size: auto 389px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 57px;

    background-image: sassvg("bg-intro-triangle-desktop", $color-white);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1202px 57px;
  }

  @media ($bp-tablet) {
    min-height:518px;
    padding-top: 78px;

    @include background-image-webp("../img/bg-back-desktop@1x", "jpg");
    background-size: cover;

    @media ($retina-dpi), ($retina-dppx) {
      @include background-image-webp("../img/bg-back-desktop@2x", "jpg");
      background-size: cover;
    }
  }

  svg {
    display: block;
    margin: 0 auto;

    @media ($bp-tablet) {
      width: 460px;
      height: 350px;
    }
  }

  &--inner {
    min-height: 155px;
    padding-top: 52px;
    margin-bottom: 40px;

    background-position: center bottom;

    @media ($bp-tablet) {
      min-height: 290px;
      padding-top: 95px;
      margin-bottom: 77px;
    }

    @media ($bp-desktop) {
      min-height: 300px;
      padding-top: 100px;
      margin-bottom: 114px;
    }

    svg {
      width: 229px;
      height: 39px;

      @media ($bp-tablet) {
        width: 458px;
        height: 78px;
      }
    }

  }
}

.main-header__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0 $padding-mobile;


  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;

  @media ($bp-tablet) {
    margin-bottom: 29px;

    font-size: 30px;
  }
}

.main-header__intro {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $color-black;

  @media ($bp-tablet) {
    font-size: 21px;
  }
}

.main-header__text {
  margin: 0;
  // margin-bottom: 17px;
  padding: 0 $padding-mobile;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333;

  br {
    display: none;
  }

  @media ($bp-tablet) {
    // margin-bottom: 75px;
    padding: 0;

    br {
      display: block;
    }
  }

  @media ($bp-desktop) {
    // margin-bottom: 55px;
  }

  &--inner {

    position: relative;

    margin: 0;
    // padding: 0 20px;
    padding-bottom: 25px;

    // font-size: 14px;
    // line-height: 26px;

    @media ($bp-tablet) {
      padding-bottom: 0;

      margin-bottom: 50px;
    }

  }

}
