.advantages {
  // padding-top: 40px;

  text-align: center;
  text-transform: uppercase;

  @media ($bp-tablet) {
    padding-top: 50px;
  }
}

.advantages__promo {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black;

  @media ($bp-tablet) {
    font-size: 21px;
  }
}

.advantages__intro {
  position: relative;

  margin: 0;
  padding: 0 20px;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 26px;

  @include two-triangles ($color-white, $color-white, $color-white, 17px, 0, 0)

  @media ($bp-tablet) {
    padding-bottom: 0;

    margin-bottom: 50px;
  }
}

.advantages__list {
  @include list-reset ();

  @media ($bp-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {

  &--with-photo {}
}

.advantages__sublist {
  @include list-reset ();

  display: flex;
  flex-direction: column;

  padding: 0 20px;
  padding-top: 7px;
  padding-bottom: 38px;

  background-color: $bg-color-page;

  @media ($bp-tablet) {
    flex-wrap: wrap;
    flex-direction: row;

    padding: 0;
  }
}

.advantages__feature {}
