.advantage {
  position: relative;

  background-color: $bg-color-gray;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: $padding-mobile;
    right: $padding-mobile;

    height: 1px;

    background-color: rgba(0, 0, 0, 0.1);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  &--town,
  &--devil-bridge {

    color: $color-white;

    .advantage::after {
      display: none;
    }

    .advantage__inner {
      background-color: $bg-color-blue;
    }

  }

  &--town {

    .advantage__inner {
      padding-top: 50px;
    }

    .advantage__image {
      @include background-image-webp("../img/index/photo-city@1x", "jpg");

      @media ($retina-dpi), ($retina-dppx) {
        @include background-image-webp("../img/index/photo-city@2x", "jpg");
      }
    }
  }

  &--devil-bridge {

    .advantage__image {
      @include background-image-webp("../img/index/photo-bridge@1x", "jpg");

      @media ($retina-dpi), ($retina-dppx) {
        @include background-image-webp("../img/index/photo-bridge@2x", "jpg");
      }
    }
  }

  @media ($bp-tablet) {
    width: 33.33%;

    &::after {
      display: none;
    }

    &--town,
    &--devil-bridge {
      width: 100%;
      padding-top: 0;

      .advantage__wrapper {
        display: flex;
      }

      .advantage__inner {
        width: 33.33%;
      }
    }

    &--devil-bridge  {
      .advantage__inner {
        order: 2;
      }
    }
  }
}

.advantage__wrapper {}

.advantage__inner {
  padding: 0 $padding-mobile;
  padding-top: 30px;
  padding-bottom: 40px;

  @media ($bp-tablet) {
    padding-top: 50px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 50px;
  }
}

.advantage__image {
  min-height: 260px;

  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media ($bp-tablet) {
    width: 66.66%;
    height: auto;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  br {
    display: none;
  }

  @media ($bp-tablet) {
    br {
      display: block;
    }
  }
}

.advantage__number {
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 21px;
}

.advantage__text {
  margin: 0;
}
