.feature {
  position: relative;

  padding-top: 28px;
  padding-left: 50px;

  text-align: left;
  color: $font-color-base;

  &::before {
    content: "";

    position: absolute;
    left: 0;

    background-repeat: no-repeat;
    background-position:  0 0;
    background-size: cover;
  }

  &--food {
    order: 1;
    &::before {
      top: 23px;
      left: -3px;

      width: 40px;
      height: 38px;

      background-image: sassvg("icon-burger", $color-blue);
    }

    @media ($bp-tablet) {
      order: 0;
    }
  }

  &--souvenir {
    &::before {
      top: 18px;
      left: 5px;

      width: 32px;
      height: 38px;

      background-image: sassvg("icon-gift", $color-blue);
    }
  }

  &--housing {
    &::before {
      top: 20px;

      width: 39px;
      height: 38px;

      background-image: sassvg("icon-house", $color-blue);
    }
  }

  @media ($bp-tablet) {
    width: 33.33%;
    min-height: 330px;

    padding: 0 45px;
    padding-top: 160px;
    padding-bottom: 63px;

    text-align: center;

  &--food {
    &::before {
      top: 63px;
      left: 50%;

      width: 77px;
      height: 70px;

      transform: translateX(-50%);
    }
  }

  &--souvenir {
    &::before {
      top: 57px;
      left: 50%;

      width: 64px;
      height: 76px;

      transform: translateX(-50%);
    }
  }

  &--housing {
    &::before {
      top: 60px;
      left: 50%;

      width: 75px;
      height: 73px;

      transform: translateX(-50%);
    }
  }

  }
}

.feature__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black;

  @media ($bp-tablet) {
    margin-bottom: 20px;

    font-size: 21px;
  }
}

.feature__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}
