.search {
  padding-top: 30px;
  padding-bottom: 50px;

  @media ($bp-tablet) {
    padding-top: 55px;
    padding-bottom: 58px;
  }
}

.search__wrapper {
  max-width: 458px + $padding-mobile * 2;
  margin: 0 auto;
  padding: 0 $padding-mobile;

  text-align: center;
}

.search__question {
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media ($bp-tablet) {
    font-size: 30px;
  }
}

.search__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.search__button {
  width: 100%;
}
