
//FOLDER
$folder-images: '../img/';         // путь к изображениям
$folder-fonts:  '../fonts/';       // путь к шрифтам

//SIZE
// $width-mobile: 0px;
// $width-tablet: 0px;
// $width-desktop: 0px;
// $width-only-mobile-tablet: $width-desktop - 1px;

//PADDING
// $padding-mobile: 20px;
// $padding-tablet: 20px;

//BREAK POINT
// $bp-tablet: "min-width: #{$width-tablet}";            //break point for tablet version
// $bp-desktop: "min-width: #{$width-desktop}";   //break point for desktop version

//RETINA
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";

//COLOR
$color-black: #000000;
$color-white: #ffffff;



//FONT
// $font-family-base: "", "Arial", sans-serif;
// $font-size-base: px;
// $line-height-base: px;
// $font-weight-base: 400;
// $font-color-base: $font-color-dark;

//BACKGROUND
// $bg-color-body: ;


//TRANSITION
// $timing-function: 0.0s;

//BORDER
// $bd-color-base: ;

//FORM
// $bd-color-form-item: ;
// $bd-color-form-item--hover: ;
// $bd-color-form-item--active: ;
// $bd-color-form-item--focus: ;
// $bd-width-form-item: px;

// $bg-color-form-icon: ;

// $font-color-form-item: ;

// $timing-function-form: 0.0s;

//fieldset

//legend
// $font-color-legend: ;

//lebel
// $font-color-label--input-text: ;

//input-text

//textarea

//radio

//checkbox

//BUTTON

//TABLE

