.social {
  font-size: 0;
}

.social__link {
  width: 46px;
  height: 48px;

  margin: 0 3px;

  background-repeat: no-repeat;
  background-position: center center;

  &--twitter {
    background-image: sassvg("icon-twitter", $color-white);
    &:active {
      background-image: sassvg("icon-twitter", $color-white, $color-white, $color-white, 0.3);
    }
  }

  &--facebook {
    background-image: sassvg("icon-facebook", $color-white);
    &:active {
      background-image: sassvg("icon-facebook", $color-white, $color-white, $color-white, 0.3);
    }
  }

  &--youtube {
    background-image: sassvg("icon-youtube", $color-white);
    &:active {
      background-image: sassvg("icon-youtube", $color-white, $color-white, $color-white, 0.3);
    }
  }
}
